# Environment
.env
.env.test
.env.production
data/env.profile
z.py
backups
firebase-adminsdk.json
k6/local.config.js

# Build artifacts
**/target/
**/build/
**/dist/

# Logs
*.log
uploads

# OS/Editor
.DS_Store
Thumbs.db
__pycache__/
target_local
k6