# Environment
.env
.env.test
.env.production
data/env.profile
z.py
backups
firebase-adminsdk.json

# Build artifacts
**/target/
**/build/
**/dist/

# Logs
*.log
uploads

# OS/Editor
.DS_Store
Thumbs.db
__pycache__/
target_local